$opponent_logo_max_width: 70px;
$column-gap: 15px;

.next-seven{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap:wrap;
	flex-direction: row;
}

.trb_mainContent .game{
	width: calc((100% - #{$column-gap * 6}) / 7);
	background: #eee;
	text-align:center;

	&__date{
		@include sans-serif();
		margin: 0;
	}

	&__opponent{
		@include label7();
		margin: 0;

	}

	&__opponent-logo{
		margin: 10px auto 0 auto;
	    width: 90%;
	    height: 80px;

	}
}

@media all and (max-width: 700px){

	.next-seven{
		// display: flex;
		// align-items: stretch;
		justify-content: flex-start;
		// flex-wrap:wrap;
		// flex-direction: row;
	}

	.trb_mainContent .game{
		width: calc((100% - #{$column-gap * 6}) / 4);
		margin: 0 10px 10px 0;
	}

}