#standings-chart{
	height: 100px;
}

.standings{
	&__wrapper{
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap:nowrap;
		flex-direction: row;
	}
}

.trb_mainContent .standing{
	@include clearfix();
	margin-right: $standing-margin;
	flex: 1; // Make each standing evenly fill across x-axis

	&:last-child{
		margin-right:0;
	}

	&__place{
		@include sans-serif();
		font-weight: bold;
		margin: 0 0 7px 0;
		padding: 0 0 7px 0;
		border-bottom: 3px solid black;
		text-transform:uppercase;
	}

	&__team{
		@include label7();
		margin: 0 0 7px #{$logo_width + 15};
	}

	&__stats{
		@include agate();
		@include stats_dl();
		margin: 0 0 0 #{$logo_width + 15};
		padding: 0;
		

	}

	&__magic-number{
		@include sans-serif();
		@include stats_dl();
		// @include clearfix();
		font-weight: bold;
		
		padding: 5px;
		margin-bottom: 0;
		border-radius: 5px;
		text-align: center;

		dd{
			background: rgba(white,.95);
			height: 60px;
			width: 60px;
			border-radius: 50%;
			float: right;
			margin-top: -19px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 30px;
		}
	}

	&__logo{
		height: $logo_height;
		width: $logo_width;
		float:left;

		img, svg{
			width: $logo_width;
			height: $logo_height;
			margin: 0 0 0 0;
		}
	}
}


.standing{
	&--cubs{
		@include team_specific_standing($cubs-blue);
	}

	&--cardinals{
		@include team_specific_standing($cardinals_color);
	}

	&--brewers{
		@include team_specific_standing($brewers_color);
	}

	&--reds{
		@include team_specific_standing($reds_color);
	}

	&--pirates{
		@include team_specific_standing($pirates_color);
	}
}

@media all and (max-width: 849px){
	.trb_mainContent .standings__wrapper{
		display:block;
		
		.standing{
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}	
	}
}