

.standings{
	&__wrapper{
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap:nowrap;
		flex-direction: row;
	}
}

.trb_mainContent .standing{
	@include clearfix();
	margin-right: $standing-margin;
	flex: 1; // Make each standing evenly fill across x-axis

	&:last-child{
		margin-right:0;
	}

	&__place{
		@include sans-serif();
		font-weight: bold;
		margin: 0 0 7px 0;
		padding: 0 0 7px 0;
		border-bottom: 3px solid black;
		text-transform:uppercase;
	}

	&__team{
		@include label7();
		margin: 0 0 7px #{$logo_width + 15};
	}

	&__stats{
		@include agate();
		margin: 0 0 0 #{$logo_width + 15};
		padding: 0;

		dt, dd{
			display:inline;
			margin: 0;
			padding:0;
		}

		dt:after{
			content: ':';
		}

		dd:after{
			content:'';
			display:block;
		}
	}

	&__logo{
		height: $logo_height;
		width: $logo_width;
		float:left;

		svg{
			width: $logo_width;
			height: $logo_height;
			margin: 0 0 0 0;
		}
	}
}


.standing{
	&--cubs{
		.standing__place{
			border-bottom-color:$cubs-blue;
		}
	}

	&--cardinals{
		.standing__place{
			border-bottom-color:$cardinals_color;
		}
	}

	&--brewers{
		.standing__place{
			border-bottom-color:$brewers_color;
		}
	}

	&--reds{
		.standing__place{
			border-bottom-color:$reds_color;
		}
	}

	&--pirates{
		.standing__place{
			border-bottom-color:$pirates_color;
		}
	}
}

@media all and (max-width: 849px){
	// .trb_mainContent .standings{
	// 	flex-wrap:wrap;

	// 	.standing{
	// 		width: calc((100% -50px) / 3);
	// 		flex:none;
	// 	}	
	// }
}