{# MERGE OUR TABS INTO A SINGLE DATA OBJECT #}
{% set data = merge_data(cubs=CUBS_DATA|sort(attribute="GAME"),cardinals=CARDINALS_DATA|sort(attribute="GAME"), brewers=BREWERS_DATA|sort(attribute="GAME")) %}

{% macro standings_block(team, idx) %}
	{% set svg_url = team['team_name']|team_lookup('abbrev') %}
	{% set place = team['current_division_rank']|format_ranking %}
	{% set team_name = team['team_name']|team_lookup('readable') %}
	{% set current_record = team['current_record']%}
	{% set games_back = get_games_back(current_record, data[0]['current_record']) %}

	<div class='standing standing--{{ team["team_name"] }}'>
		<h3 class='standing__place'>{{ place|upper }} PLACE</h3>
		<div class='standing__logo'>
			<img src ='http://{{ ROOT_URL }}/img/logos/{{ svg_url }}.png' />
		</div>
		<h3 class='standing__team'>{{ team_name }}</h3>
		<dl class='standing__stats'>
			<dt>Record</dt>
			<dd>{{ current_record['wins'] }}-{{ current_record['losses'] }}</dd>			
			<dt>Games back</dt>
			<dd>{{ games_back }}</dd>
		</dl>
		{% if idx == 1 %}
			<dl class='standing__magic-number'>
				<dt>Magic number</dt>
				<dd>{{ get_magic_number(data) }}</dd>
			</dl>
		{% endif %}
	</div>

{% endmacro%}


{% macro next_7_games(team) %}
	{% set team_name = team['team_name']|team_lookup('readable') %}
	{% set svg_url = team['team_name']|team_lookup('abbrev') %}

	<div class='next-7 next-7--{{ team["team_name"]}}'>
		<h3 class='next-7__team'>{{ team_name }}</h3>

		{%- for game in team['next_seven_games'] %}
			{% set date = game['game_date']|format_date_time('%b %-d') %}
			{% set opponent = game['opponent'] %}
			<div class='next-7__game game'>
				<div class='game__inner'>
					<h4 class='game__date'>{{ date }}</h4>
					<p class='game__opponent'>{{ game['road_game'] }}{{ opponent }}</p>
					<img class='game__opponent-logo' src ='http://{{ ROOT_URL }}/img/logos/{{ opponent }}.png' />
				</div>
			</div>
		{%- endfor %}
	</div>
{% endmacro %}

{% block content %}
	<script>
		window.data = {{ data|jsonify }};
	</script>
	<div class='graphic-wrapper'>
		<section class='intro'>
			{{ intro|markdown }}
			{{ link|markdown }}
		</section>
		<section class='standings'>
			<h2 class="subheadline">Standings</h2>
			<p class='update-date'>As of {{ updated_date|format_date_time('%A, %B %-d') }}</p>
			<div class='standings__wrapper'>
				{%- for team in data %}
					{{ standings_block(team, loop.index) }}
				{% endfor %}
			</div>
			<div id='standings-chart'></div>			
		</section>

		<section class='horse-race'>
			<h2 class="subheadline">Games above/below .500</h2>
			<div id='horse-race' class='chart'></div>
		</section>
		<section class='next-7-games'>
					<h2 class="subheadline">Up next</h2>
						<div class='credits'>
				{{ note|markdown }}
			</div>

			<div class='next-7-games__games-wrapper'>
				{%- for team in data %}
					{{ next_7_games(team) }}
				{% endfor %}			
			</div>
		</section>
		<section class='credits'>
			{{ sources|markdown }}
			{{ credits|markdown }}
		</section>
	</div>
{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
